@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Prociono;
  src: url('../fonts/Prociono.otf') format('OpenType');
}

body {
  margin: 0;
  font-family: 'Prociono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}